:root {
  font-family: Lato, sans-serif;
  line-height: 1.5;
  font-weight: 200;
  color: #FFFFFF;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-image: url("assets/R0000563.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}